<app-nav-bar></app-nav-bar>
<h3 class="page-header">Minhas Tarefas</h3>
<div class="card login-form">
  <div class="card-body">
    <div class="card-text">
      <div>
        <div class="form-group">
          <label>Título</label>
          <input
            type="email"
            class="form-control form-control-sm"
            [(ngModel)]="currentTask.title"
          />
          <label>Descrição</label>
          <input
            type="text"
            class="form-control form-control-sm"
            [(ngModel)]="currentTask.description"
          />
          <input type="checkbox" [(ngModel)]="currentTask.is_visible" />
          <label class="form-check-label px-2" for="exampleCheck1"
            >Tarefa pública</label
          >
        </div>

        <button type="submit" class="btn btn-success float-right" (click)="submitTask()">
        {{ currentTask.id ? 'Salvar': 'Adicionar' }} 
        </button>
        <button *ngIf="currentTask.id" class="btn btn-danger" (click)="cancelEdit()">
          <span class="glyphicon glyphicon-trash"></span>
          cancelar
        </button>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          <span *ngIf="task.status" class="badge badge-success">Concluída</span>
          <span *ngIf="task.is_visible" class="badge badge-warning">Pública</span>
        </td>
        <td> 
          <button class="btn btn-danger" (click)="deleteTask(task)">
            <span class="glyphicon glyphicon-trash"></span>
            Excluir
          </button>
          <button *ngIf="!task.status" class="btn btn-info px-2" (click)="showTask(task)">
            <span class="glyphicon glyphicon-trash"></span>
            Editar
          </button>
          <button *ngIf="!task.status" class="btn btn-success px-2" (click)="setTrueTask(task)">
            <span class="glyphicon glyphicon-trash"></span>
            Concluída
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
