<app-nav-bar></app-nav-bar>
<h3 class="page-header">Tarefas Públicas</h3>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>
        <span *ngIf="task.status" class="badge badge-success">Concluída</span>
      </td>
    </tr>
  </tbody>
</table>

